
@tailwind base;
@tailwind components;
@tailwind utilities;

body > div:nth-child(2){
    display: none;
}

body > div:nth-child(3){
    display: none;
}
span.is-square {
    width: 15px;
    height: 15px;
    display: block;
}
span.is-darkBlue-square {
    background-color: #203b48;
}

span.is-blue-square {
    background-color: #205fa9;
}

span.is-orange-square {
    background-color: orange;
}

span.is-green-square {
    background-color: green;
}

.e-schedule .e-month-view .e-appointment .e-appointment-details .e-time {
    display: none;
}

